---
layout: default
---

<div class="home">

    <h2>Collections</h2>

    {% for collection in site.collections %}
    {% unless collection.label contains "posts"%}

    {% assign name = collection.label %}
        
	<div>
    
		<h3>{{ name }}</h3>
    
		<ul>
		{% for page in site[name] %}
        	<li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        </ul>
       
    </div>

    {% endunless %}
    {% endfor %}


    <h2>Tags</h2>
        
        {% assign tags =  site.gist | map: 'tags' | join: ','  | split: ',' | uniq %}
        {% for tag in tags %}
        
		<div>

			<h3>{{ tag }}</h3>

			<ul>
			{% for gist in site.gist %}
				{% if gist.tags contains tag %}
				<li>
					<a href="{{ site.baseurl }}{{ gist.url }}">
						{{ gist.title }}
					</a>
				</li>
			{% endif %}
			{% endfor %}
			</ul>

		{% endfor %}

		</div>

</div>
