<footer class="site-footer">

    <version id="version">{{site.time}}</version>

    <script>
        
        inputButt = document.getElementById("input");
        
        document.addEventListener('keydown', function(e) {
            console.log("yo");
            inputButt.focus();
        });
        
    </script>
    
    <script src="{{ '/js/repl.js' | prepend: site.url }}"></script>


<!--
    <div class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </div>

    <div class="wrapper">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <p>{{ site.description }}</p>
    </div>
-->
</footer>
