---
layout: page
permalink: /gist/
title: Gist
---

    <ul>
      {% for gist in site.gist %}
        <li>
          <a href="{{ gist.url }}">{{ gist.title }}</a>
        </li>
      {% endfor %}
    </ul>

