<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="wrapper">
    <div id="content">
        <section>
            <span>{{ page.title }}</span>
            <div>{{ content }}</div>
        </section>
        <section id="clone">
            <span></span>
            <div></div>
        </section>
    </div>
    </div>
    
    <div id="cli">
        <span id="msg">
            <a href="{{ site.url }}">{{ site.title }}</a> 
            <a href="{{ site.url }}/{{ page.collection }}">{{ page.collection }}</a> 
            <a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a> 
            > 
        </span>
        <form>
            <input type="text" id="input" autocomplete="off" autofocus>
        </form>
    </div>

  {% include footer.html %}

  </body>
</html>
